@import "variables";

.small-card {
  max-width: $wdth-md-sm;
}

.col-md-6 {
  width: $wdth-3;
}

.card {
  transform: $scale-9;
  transition: $trans-0-3-ease;
}

.card:hover {
  transform: $scale-10;
}

#totalCredit {
  border-top: 3px solid beige;
  padding-top: 50px;
}

.searchH2 {
  border-top: 3px solid beige;
  padding-top: 50px;
}

.avatar-container {
  gap: 10px;
}
