//idPage.js
@import "variables";

#postDetailsContainer {
  max-width: $wdth-md-sm;
  margin: 0 auto; /* This will center the container */
  text-align: center; /* This will center the content inside the container */
}

#feedBtns {
  align-self: $algn-ctr;
}

.image-container {
  text-align: $algn-ctr;
  margin-top: $px2;
}

.post-image {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  display: block;
}

.bids-container {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.bid-container {
  display: flex;
  flex-direction: column;
  align-items: start;
}
