//idPage.js
@import "variables";

#postDetailsContainer {
  max-width: $wdth-md-sm;
  margin: 0 auto; /* This will center the container */
  text-align: center; /* This will center the content inside the container */
}

#feedBtns {
  align-self: $algn-ctr;
}

.image-container {
  text-align: $algn-ctr;
  margin-top: $px2;
}

.post-image {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  display: block;
  transform: $scale-9;
  transition: $trans-0-3-ease;
  border-radius: 10px;
}

.post-image:hover {
  transform: $scale-10;
}

#bids-container {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.bid-container {
  display: flex;
  flex-direction: column;
  align-items: start;
  border: 3px solid beige;
  padding: 15px;
  border-radius: 10px;
  margin: 5px;
  transform: $scale-9;
  transition: $trans-0-3-ease;
  background: rgb(13 110 253 / 20%);
}

.bid-container:hover {
  transform: $scale-10;
}
